/nbproject/private/
/Vendor
/companyCodeFiles/tracings
/companyCodeFiles/log
/companyCodeFiles/cookies
/companyCodeFiles/tempTestFiles
/companyCodeFiles/cookies.txt
/companyCodeFiles/cookies
/companyCodeFiles/logWarning
/tmp
/Config/Schema
/Config/database.php
/Config/database.php.default
/Config/email.php
/Config/email.php.default
/Config/local
/Config/server
/Config/cookies.ctp
/webroot/files
/Selenium-Test
/files
/Controller/cookies1.txt
/companyCodeFilescookies/