/nbproject/private/
/Vendor
/companyCodeFiles/tracings
/companyCodeFiles/log
/companyCodeFiles/cookies
/companyCodeFiles/tempTestFiles
/companyCodeFiles/cookies.txt
/companyCodeFiles/cookies
/companyCodeFiles/logWarning
/tmp
/Config
/webroot/files
/Selenium-Test
/files
/Controller/cookies1.txt
