/* If you want you can use font-face */
@font-face {
	/*
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;*/
}

.digital-clock {
    margin: 0 auto;
    padding: 5px;
}

#digital-date {
    text-align: center;
/*    text-shadow: 0 0 5px #00c6ff;*/
	font-size: 24px;
}

ul.digital-clock {
    padding: 0px;
    list-style: none;
    text-align: center;
}
 
ul.digital-clock, li{
    display: inline;
/*	font-size: 24px;*/
    text-align: center;
/*    text-shadow: 0 0 5px #00c6ff;*/
}

#digital-point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 1px;
    padding-right: 1px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}